.article /*block1*/{
    width: 700px;
    height: 500px;
    display: flex;
    position: relative;
    background-color: rgb(228, 220, 220);
    float: left;
}
.details {
    display: inline-flex;
    position: relative;
    left: 33.2%;
    top:30%;
    text-align: justify;
    background-color: rgb(105, 105, 221);
    margin: 30px, 25px, 30px, 25px;
    width: 60%;
    height: 30%;
    border: 1px solid black;
}
.fix {
    clear:left;
    display: block;
    background-color: blue;
    color: white;
    position: relative;
    left: 90%;
    bottom: 90%;
    width: 100px;
    height:30px
}